body {
    margin: 0;
    overflow: hidden;
   
  }

  body * {
    border:.5px solid black;
  }

  .canvas1{
    position: relative;
    top: 0;
    left: 0;
  }

  .canvas2{
    position: absolute;
    top: 0px;
    left: 0px;
  }


#container{
  position: relative;
  top: 0;
  left: 0;
}

.canvas2 > #icon-class{
  height: 200px;
}