body {
  margin: 0;
}
/* #container *{
  border:.5px solid #000;
} */

#container{
  display: grid;
  height: 100vh;
  grid-template-areas: 
            "header header header"
            "left canvas right"
            "footer footer footer";
}

header{
  grid-area: header;
}

#left{
  grid-area: left;
}

#right{
  grid-area: left;
}

#canvas-container{
  /* background-color: aqua; */
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas: 
  "s s s"
  "s watch s"
  "s s s";
}

.canvas1{
  grid-area: watch;
  position: relative;
  height: 300px;
  z-index: 1;

}

.canvas2{
  /* position: absolute;
  top: 35px;
  left: 47px; */
  height: 300px;
  grid-area: watch;
  z-index: 100;
  
}

footer{
  grid-area: footer;
}