body {
    margin: 0;
    overflow: hidden;
   
  }

  body * {
    border:.5px solid black;
  }

  .canvas1{
     
  }


#container{
    display: grid;
    justify-items: center;
    align-items: center;
}